<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SENDIT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="main-container">
        <header>
            <h1>MODIFY DELIVERY ORDER</h1>
            <nav>
                <ul>
                    <li> <a href="login.html"> Logout</a> </li>
                </ul>
            </nav>
        </header>
        <section class="second-nav">
        <nav>
            <ul>
                <li> <a href="create_order.html">CREATE ORDER</a> </li>
                <li> <a href="modify.html">MODIFY ORDER</a> </li>
                <li> <a href="my_orders.html">MY ORDERS</a> </li>
                <li> <a href="orders_delivered.html">DELIVERED</a> </li>
                <li> <a href="orders_in_transit.html">IN-TRANSIT</a> </li>
                </ul>
            </nav>
        </section>
        <article class="create-order">
                
                        <table>
                                <thead>
                                    <tr>
                                        <th>No of orders</th>    
                                       
                                        <th> Parcel Weight </th>
                                        <th> Pickup Location </th>                     
                                        <th> Destination </th>
                                        <th> Price </th>
                                        <th > Status </th>
                                        <th colspan="2">Action</th>
                                        
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <tr>
                                        <th>1</th>
                                        
                                        <td> 40 kgs</td>
                                        <td> Juba </td>
                                        <td> Mityana </td>
                                        <td> shs 8920000 </td>
                                        <td>
                                            <input type="radio" value="tansition"  >In-Transit </td>
                                        <td>  <input type="submit" value="EDIT"> </td>
                                        <td> <input type="submit" value="Cancel"></td>   
                                    </td>
                                        
                                        
                        
                                    </tr>
                                    <tr>
                                        <th>2</th>
                                        
                                        <td> 4090 kgs</td>
                                        <td> lweza </td>
                                        <td> Mityana </td>
                                       <td> shs 920000 </td> 
                                      
                                        <td><input type="radio" value="tansition"  >In-Transit </td>
                                        <td>  <input type="submit" value="EDIT"> </td>
                                        <td> <input type="submit" value="Cancel"></td>   
                                       
                                    </tr>
                                    <tr>
                                        <th>3</th>
                                        
                                        <td> 6000 kgs</td>
                                        <td> luzila </td>
                                        <td> Mityana </td>
                                        <td> shs 109820000 </td>
                                        <td> <input type="Radio" value="delivered" checked="checked">Delivered </td>
                                        
                                        <td>  <input type="submit" value="EDIT"> </td>
                                        <td> <input type="submit" value="Cancel"></td>         
                                        
                                    </tr>
                                    <tr>
                                        <th>4</th>
                                         <td> 200 kgs</td>
                                        <td> Mbale </td>
                                        <td> Mityana </td>
                                        <td> shs 21090000 </td> 
                                        <td> <input type="Radio" value="delivered" >Delivered </td>
                                        <td>  <input type="submit" value="EDIT"> </td>
                                        <td> <input type="submit" value="Cancel"></td>  
                                        
                                    </tr>
        
                            </tbody>
                
                       </table>
                
             </article>
    </div>
    
</body>
</html>